apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-application
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  # Use 'sources' (plural) instead of 'source' (singular)
  sources:
    - repoURL: https://github.com/it-rubenrebelo/gitops-cert-level-2-examples.git
      targetRevision: HEAD
      path: ./app-of-apps/my-app-list
      directory:
        recurse: false
    - repoURL: https://github.com/it-rubenrebelo/gitops-cert-level-2-examples.git
      targetRevision: HEAD
      path: ./app-of-apps/more-apps
      directory:
        recurse: false
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
